logic/Artifacts/Schemas/target.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CreationDate" />
        <xs:element name="Customers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Customer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Items" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>